table {
  border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 7px;
}

.main-body {
    display: flex;
    height: 60%;
    width: 30%;
    padding: 50px;
    flex-direction: column;
    align-content: center;
    vertical-align: center;
}