<html>
    <head>
        <title>Live-update Page</title>
        <script language='JavaScript' type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src='actions.js'> </script>
        <link rel="stylesheet" href="style.css">
        

    </head>
    <body class='main-body'>
        <h3> This page has table that updates with random number every 5 seconds </h3>
        <a href="/"> Home Page </a>
        <br>
        <table id="table">
            <thead>
                <tr>
                    <th>Random Number</th>
                </tr>
            </thead>
            <br>
            <tbody id="table-body">
                <tr>
                    <td> 2000 </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>